#%RAML 1.0
title: Compute Engine
version: alpha
baseUri: 'https://www.googleapis.com/compute/alpha/projects'
protocols:
  - HTTPS
description: Creates and runs virtual machines on Google Cloud Platform.
(oas-tags-definition):
  - name: addresses
  - name: autoscalers
  - name: backendBuckets
  - name: backendServices
  - name: clientSslPolicies
  - name: commitments
  - name: diskTypes
  - name: disks
  - name: firewalls
  - name: forwardingRules
  - name: globalAddresses
  - name: globalForwardingRules
  - name: globalOperations
  - name: healthChecks
  - name: hosts
  - name: httpHealthChecks
  - name: httpsHealthChecks
  - name: images
  - name: instanceGroupManagers
  - name: instanceGroups
  - name: instanceTemplates
  - name: instances
  - name: licenses
  - name: machineTypes
  - name: networks
  - name: projects
  - name: regionAutoscalers
  - name: regionBackendServices
  - name: regionDiskTypes
  - name: regionDisks
  - name: regionInstanceGroupManagers
  - name: regionInstanceGroups
  - name: regionOperations
  - name: regions
  - name: routers
  - name: routes
  - name: snapshots
  - name: sslCertificates
  - name: subnetworks
  - name: targetHttpProxies
  - name: targetHttpsProxies
  - name: targetInstances
  - name: targetPools
  - name: targetSslProxies
  - name: targetTcpProxies
  - name: targetVpnGateways
  - name: urlMaps
  - name: vpnTunnels
  - name: zoneOperations
  - name: zones
annotationTypes:
  oas-tags-definition:
    type: array
    items:
      properties:
        name: string
        description?: string
        externalDocs?:
          properties:
            url: string
            description?: string
    allowedTargets: API
  oas-info:
    properties:
      termsOfService?: string
      contact?:
        properties:
          name?: string
          url?: string
          email?: string
      license?:
        properties:
          name?: string
          url?: string
    allowedTargets: API
  oas-x-apiClientRegistration: any
  oas-x-logo: any
  oas-x-origin: any
  oas-x-preferred: any
  oas-x-providerName: any
  oas-x-serviceName: any
  oas-externalDocs:
    properties:
      description?: string
      url: string
    allowedTargets:
      - API
      - Method
      - TypeDeclaration
  oas-body-name:
    type: string
    allowedTargets: TypeDeclaration
  oas-tags:
    type: 'string[]'
    allowedTargets: Method
  oas-format:
    type: string
    allowedTargets: TypeDeclaration
(oas-info):
  (oas-x-apiClientRegistration):
    url: 'https://console.developers.google.com'
  (oas-x-logo):
    url: 'https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png'
  (oas-x-origin):
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/compute/alpha/rest'
    version: v1
  (oas-x-preferred): false
  (oas-x-providerName): googleapis.com
  (oas-x-serviceName): compute
  contact:
    name: Google
    url: 'https://google.com'
(oas-externalDocs):
  url: 'https://developers.google.com/compute/docs/reference/latest/'
securitySchemes:
  Oauth2:
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://accounts.google.com/o/oauth2/auth'
      accessTokenUri: ''
      authorizationGrants:
        - implicit
      scopes:
        - 'https://www.googleapis.com/auth/cloud-platform'
        - 'https://www.googleapis.com/auth/compute'
        - 'https://www.googleapis.com/auth/compute.readonly'
        - 'https://www.googleapis.com/auth/devstorage.full_control'
        - 'https://www.googleapis.com/auth/devstorage.read_only'
        - 'https://www.googleapis.com/auth/devstorage.read_write'
    description: Oauth 2.0 authentication
'/{project}':
  displayName: '{project}'
  /regions:
    displayName: regions
    '/{region}':
      displayName: '{region}'
      /backendServices:
        displayName: backendServices
        '/{backendService}':
          displayName: '{backendService}'
          /getHealth:
            displayName: getHealth
            post:
              displayName: compute.regionBackendServices.getHealth
              description: Gets the most recent health check results for this regional BackendService.
              body:
                application/json:
                  type: ResourceGroupReference
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: BackendServiceGroupHealth
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - regionBackendServices
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          uriParameters:
            backendService:
              description: Name of the BackendService resource to return.
              required: true
              type: string
          delete:
            displayName: compute.regionBackendServices.delete
            description: Deletes the specified regional BackendService resource.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - regionBackendServices
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          patch:
            displayName: compute.regionBackendServices.patch
            description: Updates the specified regional BackendService resource with the data included in the request. There are several restrictions and guidelines to keep in mind when updating a backend service. Read  Restrictions and Guidelines for more information. This method supports patch semantics.
            body:
              application/json:
                type: BackendService
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - regionBackendServices
          put:
            displayName: compute.regionBackendServices.update
            description: Updates the specified regional BackendService resource with the data included in the request. There are several restrictions and guidelines to keep in mind when updating a backend service. Read  Restrictions and Guidelines for more information.
            body:
              application/json:
                type: BackendService
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - regionBackendServices
          get:
            displayName: compute.regionBackendServices.get
            description: Returns the specified regional BackendService resource.
            responses:
              '200':
                body:
                  application/json:
                    type: BackendService
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute.readonly'
            (oas-tags):
              - regionBackendServices
        '/{resource}':
          displayName: '{resource}'
          /testIamPermissions:
            displayName: testIamPermissions
            post:
              displayName: compute.regionBackendServices.testIamPermissions
              description: Returns permissions that a caller has on the specified resource.
              body:
                application/json:
                  type: TestPermissionsRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: TestPermissionsResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - regionBackendServices
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        get:
          displayName: compute.regionBackendServices.list
          description: Retrieves the list of regional BackendService resources available to the specified project in the given region.
          responses:
            '200':
              body:
                application/json:
                  type: BackendServiceList
              description: Successful response
          queryParameters:
            filter:
              description: |-
                Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

                The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

                For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

                You can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

                To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
              type: string
            maxResults:
              default: 500
              description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
              maximum: 500
              minimum: 0
              type: integer
            orderBy:
              description: |-
                Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

                You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

                Currently, only sorting by name or creationTimestamp desc is supported.
              type: string
            pageToken:
              description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute.readonly'
          (oas-tags):
            - regionBackendServices
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        post:
          displayName: compute.regionBackendServices.insert
          description: Creates a regional BackendService resource in the specified project using the data included in the request. There are several restrictions and guidelines to keep in mind when creating a regional backend service. Read  Restrictions and Guidelines for more information.
          body:
            application/json:
              type: BackendService
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Operation
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute'
          (oas-tags):
            - regionBackendServices
      /diskTypes:
        displayName: diskTypes
        get:
          displayName: compute.regionDiskTypes.list
          description: Retrieves a list of regional disk types available to the specified project.
          responses:
            '200':
              body:
                application/json:
                  type: RegionDiskTypeList
              description: Successful response
          queryParameters:
            filter:
              description: |-
                Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

                The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

                For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

                You can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

                To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
              type: string
            maxResults:
              default: 500
              description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
              maximum: 500
              minimum: 0
              type: integer
            orderBy:
              description: |-
                Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

                You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

                Currently, only sorting by name or creationTimestamp desc is supported.
              type: string
            pageToken:
              description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute.readonly'
          (oas-tags):
            - regionDiskTypes
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        '/{diskType}':
          displayName: '{diskType}'
          uriParameters:
            diskType:
              description: Name of the disk type to return.
              required: true
              type: string
          get:
            displayName: compute.regionDiskTypes.get
            description: Returns the specified regional disk type. Get a list of available disk types by making a list() request.
            responses:
              '200':
                body:
                  application/json:
                    type: DiskType
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute.readonly'
            (oas-tags):
              - regionDiskTypes
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
      /disks:
        displayName: disks
        get:
          displayName: compute.regionDisks.list
          description: Retrieves the list of persistent disks contained within the specified region.
          responses:
            '200':
              body:
                application/json:
                  type: DiskList
              description: Successful response
          queryParameters:
            filter:
              description: |-
                Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

                The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

                For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

                You can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

                To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
              type: string
            maxResults:
              default: 500
              description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
              maximum: 500
              minimum: 0
              type: integer
            orderBy:
              description: |-
                Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

                You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

                Currently, only sorting by name or creationTimestamp desc is supported.
              type: string
            pageToken:
              description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute.readonly'
          (oas-tags):
            - regionDisks
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        post:
          displayName: compute.regionDisks.insert
          description: Creates a persistent regional disk in the specified project using the data included in the request.
          body:
            application/json:
              type: Disk
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Operation
              description: Successful response
          queryParameters:
            sourceImage:
              description: Optional. Source image to restore onto a disk.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute'
          (oas-tags):
            - regionDisks
        '/{disk}':
          displayName: '{disk}'
          uriParameters:
            disk:
              description: Name of the regional persistent disk to return.
              required: true
              type: string
          delete:
            displayName: compute.regionDisks.delete
            description: 'Deletes the specified regional persistent disk. Deleting a regional disk removes all the replicas of its data permanently and is irreversible. However, deleting a disk does not delete any snapshots previously made from the disk. You must separately delete snapshots.'
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - regionDisks
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          get:
            displayName: compute.regionDisks.get
            description: Returns a specified regional persistent disk.
            responses:
              '200':
                body:
                  application/json:
                    type: Disk
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute.readonly'
            (oas-tags):
              - regionDisks
          /createSnapshot:
            displayName: createSnapshot
            post:
              displayName: compute.regionDisks.createSnapshot
              description: Creates a snapshot of this regional disk.
              body:
                application/json:
                  type: Snapshot
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              queryParameters:
                guestFlush:
                  type: boolean
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - regionDisks
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /resize:
            displayName: resize
            post:
              displayName: compute.regionDisks.resize
              description: Resizes the specified regional persistent disk.
              body:
                application/json:
                  type: RegionDisksResizeRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - regionDisks
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        '/{resource}':
          displayName: '{resource}'
          /setLabels:
            displayName: setLabels
            post:
              displayName: compute.regionDisks.setLabels
              description: Sets the labels on the target regional disk.
              body:
                application/json:
                  type: RegionSetLabelsRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - regionDisks
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /testIamPermissions:
            displayName: testIamPermissions
            post:
              displayName: compute.regionDisks.testIamPermissions
              description: Returns permissions that a caller has on the specified resource.
              body:
                application/json:
                  type: TestPermissionsRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: TestPermissionsResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - regionDisks
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
      /forwardingRules:
        displayName: forwardingRules
        get:
          displayName: compute.forwardingRules.list
          description: Retrieves a list of ForwardingRule resources available to the specified project and region.
          responses:
            '200':
              body:
                application/json:
                  type: ForwardingRuleList
              description: Successful response
          queryParameters:
            filter:
              description: |-
                Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

                The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

                For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

                You can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

                To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
              type: string
            maxResults:
              default: 500
              description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
              maximum: 500
              minimum: 0
              type: integer
            orderBy:
              description: |-
                Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

                You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

                Currently, only sorting by name or creationTimestamp desc is supported.
              type: string
            pageToken:
              description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute.readonly'
          (oas-tags):
            - forwardingRules
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        post:
          displayName: compute.forwardingRules.insert
          description: Creates a ForwardingRule resource in the specified project and region using the data included in the request.
          body:
            application/json:
              type: ForwardingRule
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Operation
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute'
          (oas-tags):
            - forwardingRules
        '/{forwardingRule}':
          displayName: '{forwardingRule}'
          uriParameters:
            forwardingRule:
              description: Name of the ForwardingRule resource to return.
              required: true
              type: string
          delete:
            displayName: compute.forwardingRules.delete
            description: Deletes the specified ForwardingRule resource.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - forwardingRules
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          get:
            displayName: compute.forwardingRules.get
            description: Returns the specified ForwardingRule resource.
            responses:
              '200':
                body:
                  application/json:
                    type: ForwardingRule
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute.readonly'
            (oas-tags):
              - forwardingRules
          /setTarget:
            displayName: setTarget
            post:
              displayName: compute.forwardingRules.setTarget
              description: Changes target URL for forwarding rule. The new target should be of the same type as the old target.
              body:
                application/json:
                  type: TargetReference
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - forwardingRules
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        '/{resource}':
          displayName: '{resource}'
          /testIamPermissions:
            displayName: testIamPermissions
            post:
              displayName: compute.forwardingRules.testIamPermissions
              description: Returns permissions that a caller has on the specified resource.
              body:
                application/json:
                  type: TestPermissionsRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: TestPermissionsResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - forwardingRules
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
      /instanceGroupManagers:
        displayName: instanceGroupManagers
        get:
          displayName: compute.regionInstanceGroupManagers.list
          description: Retrieves the list of managed instance groups that are contained within the specified region.
          responses:
            '200':
              body:
                application/json:
                  type: RegionInstanceGroupManagerList
              description: Successful response
          queryParameters:
            filter:
              description: |-
                Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

                The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

                For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

                You can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

                To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
              type: string
            maxResults:
              default: 500
              description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
              maximum: 500
              minimum: 0
              type: integer
            orderBy:
              description: |-
                Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

                You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

                Currently, only sorting by name or creationTimestamp desc is supported.
              type: string
            pageToken:
              description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute.readonly'
          (oas-tags):
            - regionInstanceGroupManagers
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        post:
          displayName: compute.regionInstanceGroupManagers.insert
          description: 'Creates a managed instance group using the information that you specify in the request. After the group is created, it schedules an action to create instances in the group using the specified instance template. This operation is marked as DONE when the group is created even if the instances in the group have not yet been created. You must separately verify the status of the individual instances with the listmanagedinstances method.'
          body:
            application/json:
              type: InstanceGroupManager
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Operation
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute'
          (oas-tags):
            - regionInstanceGroupManagers
        '/{instanceGroupManager}':
          displayName: '{instanceGroupManager}'
          uriParameters:
            instanceGroupManager:
              description: The name of the instance group manager.
              required: true
              type: string
          delete:
            displayName: compute.regionInstanceGroupManagers.delete
            description: Deletes the specified managed instance group and all of the instances in that group.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - regionInstanceGroupManagers
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          get:
            displayName: compute.regionInstanceGroupManagers.get
            description: Returns all of the details about the specified managed instance group.
            responses:
              '200':
                body:
                  application/json:
                    type: InstanceGroupManager
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute.readonly'
            (oas-tags):
              - regionInstanceGroupManagers
          patch:
            displayName: compute.regionInstanceGroupManagers.patch
            description: Updates a managed instance group using the information that you specify in the request. This operation is marked as DONE when the group is updated even if the instances in the group have not yet been updated. You must separately verify the status of the individual instances with the listmanagedinstances method. This method supports patch semantics.
            body:
              application/json:
                type: InstanceGroupManager
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - regionInstanceGroupManagers
          put:
            displayName: compute.regionInstanceGroupManagers.update
            description: Updates a managed instance group using the information that you specify in the request. This operation is marked as DONE when the group is updated even if the instances in the group have not yet been updated. You must separately verify the status of the individual instances with the listmanagedinstances method.
            body:
              application/json:
                type: InstanceGroupManager
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - regionInstanceGroupManagers
          /abandonInstances:
            displayName: abandonInstances
            post:
              displayName: compute.regionInstanceGroupManagers.abandonInstances
              description: 'Schedules a group action to remove the specified instances from the managed instance group. Abandoning an instance does not delete the instance, but it does remove the instance from any target pools that are applied by the managed instance group. This method reduces the targetSize of the managed instance group by the number of instances that you abandon. This operation is marked as DONE when the action is scheduled even if the instances have not yet been removed from the group. You must separately verify the status of the abandoning action with the listmanagedinstances method.'
              body:
                application/json:
                  type: RegionInstanceGroupManagersAbandonInstancesRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - regionInstanceGroupManagers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /deleteInstances:
            displayName: deleteInstances
            post:
              displayName: compute.regionInstanceGroupManagers.deleteInstances
              description: Schedules a group action to delete the specified instances in the managed instance group. The instances are also removed from any target pools of which they were a member. This method reduces the targetSize of the managed instance group by the number of instances that you delete. This operation is marked as DONE when the action is scheduled even if the instances are still being deleted. You must separately verify the status of the deleting action with the listmanagedinstances method.
              body:
                application/json:
                  type: RegionInstanceGroupManagersDeleteInstancesRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - regionInstanceGroupManagers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /listManagedInstances:
            displayName: listManagedInstances
            post:
              displayName: compute.regionInstanceGroupManagers.listManagedInstances
              description: Lists the instances in the managed instance group and instances that are scheduled to be created. The list includes any current actions that the group has scheduled for its instances.
              responses:
                '200':
                  body:
                    application/json:
                      type: RegionInstanceGroupManagersListInstancesResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - regionInstanceGroupManagers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /recreateInstances:
            displayName: recreateInstances
            post:
              displayName: compute.regionInstanceGroupManagers.recreateInstances
              description: Schedules a group action to recreate the specified instances in the managed instance group. The instances are deleted and recreated using the current instance template for the managed instance group. This operation is marked as DONE when the action is scheduled even if the instances have not yet been recreated. You must separately verify the status of the recreating action with the listmanagedinstances method.
              body:
                application/json:
                  type: RegionInstanceGroupManagersRecreateRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - regionInstanceGroupManagers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /resize:
            displayName: resize
            post:
              displayName: compute.regionInstanceGroupManagers.resize
              description: 'Changes the intended size for the managed instance group. If you increase the size, the group schedules actions to create new instances using the current instance template. If you decrease the size, the group schedules delete actions on one or more instances. The resize operation is marked DONE when the resize actions are scheduled even if the group has not yet added or deleted any instances. You must separately verify the status of the creating or deleting actions with the listmanagedinstances method.'
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              queryParameters:
                size:
                  description: Number of instances that should exist in this instance group manager.
                  minimum: 0
                  required: true
                  type: integer
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - regionInstanceGroupManagers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /setAutoHealingPolicies:
            displayName: setAutoHealingPolicies
            post:
              displayName: compute.regionInstanceGroupManagers.setAutoHealingPolicies
              description: Modifies the autohealing policy for the instances in this managed instance group.
              body:
                application/json:
                  type: RegionInstanceGroupManagersSetAutoHealingRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - regionInstanceGroupManagers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /setInstanceTemplate:
            displayName: setInstanceTemplate
            post:
              displayName: compute.regionInstanceGroupManagers.setInstanceTemplate
              description: Sets the instance template to use when creating new instances or recreating instances in this group. Existing instances are not affected.
              body:
                application/json:
                  type: RegionInstanceGroupManagersSetTemplateRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - regionInstanceGroupManagers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /setTargetPools:
            displayName: setTargetPools
            post:
              displayName: compute.regionInstanceGroupManagers.setTargetPools
              description: Modifies the target pools to which all new instances in this group are assigned. Existing instances in the group are not affected.
              body:
                application/json:
                  type: RegionInstanceGroupManagersSetTargetPoolsRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - regionInstanceGroupManagers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        '/{resource}':
          displayName: '{resource}'
          /testIamPermissions:
            displayName: testIamPermissions
            post:
              displayName: compute.regionInstanceGroupManagers.testIamPermissions
              description: Returns permissions that a caller has on the specified resource.
              body:
                application/json:
                  type: TestPermissionsRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: TestPermissionsResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - regionInstanceGroupManagers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
      /instanceGroups:
        displayName: instanceGroups
        get:
          displayName: compute.regionInstanceGroups.list
          description: Retrieves the list of instance group resources contained within the specified region.
          responses:
            '200':
              body:
                application/json:
                  type: RegionInstanceGroupList
              description: Successful response
          queryParameters:
            filter:
              description: |-
                Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

                The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

                For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

                You can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

                To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
              type: string
            maxResults:
              default: 500
              description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
              maximum: 500
              minimum: 0
              type: integer
            orderBy:
              description: |-
                Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

                You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

                Currently, only sorting by name or creationTimestamp desc is supported.
              type: string
            pageToken:
              description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute.readonly'
          (oas-tags):
            - regionInstanceGroups
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        '/{instanceGroup}':
          displayName: '{instanceGroup}'
          uriParameters:
            instanceGroup:
              description: Name of the instance group resource to return.
              required: true
              type: string
          get:
            displayName: compute.regionInstanceGroups.get
            description: Returns the specified instance group resource.
            responses:
              '200':
                body:
                  application/json:
                    type: InstanceGroup
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute.readonly'
            (oas-tags):
              - regionInstanceGroups
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          /listInstances:
            displayName: listInstances
            post:
              displayName: compute.regionInstanceGroups.listInstances
              description: 'Lists the instances in the specified instance group and displays information about the named ports. Depending on the specified options, this method can list all instances or only the instances that are running.'
              body:
                application/json:
                  type: RegionInstanceGroupsListInstancesRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: RegionInstanceGroupsListInstances
                  description: Successful response
              queryParameters:
                filter:
                  description: |-
                    Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

                    The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

                    For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

                    You can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

                    To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
                  type: string
                maxResults:
                  default: 500
                  description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
                  maximum: 500
                  minimum: 0
                  type: integer
                orderBy:
                  description: |-
                    Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

                    You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

                    Currently, only sorting by name or creationTimestamp desc is supported.
                  type: string
                pageToken:
                  description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
                  type: string
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - regionInstanceGroups
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /setNamedPorts:
            displayName: setNamedPorts
            post:
              displayName: compute.regionInstanceGroups.setNamedPorts
              description: Sets the named ports for the specified regional instance group.
              body:
                application/json:
                  type: RegionInstanceGroupsSetNamedPortsRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - regionInstanceGroups
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        '/{resource}':
          displayName: '{resource}'
          /testIamPermissions:
            displayName: testIamPermissions
            post:
              displayName: compute.regionInstanceGroups.testIamPermissions
              description: Returns permissions that a caller has on the specified resource.
              body:
                application/json:
                  type: TestPermissionsRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: TestPermissionsResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - regionInstanceGroups
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
      /operations:
        displayName: operations
        get:
          displayName: compute.regionOperations.list
          description: Retrieves a list of Operation resources contained within the specified region.
          responses:
            '200':
              body:
                application/json:
                  type: OperationList
              description: Successful response
          queryParameters:
            filter:
              description: |-
                Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

                The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

                For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

                You can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

                To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
              type: string
            maxResults:
              default: 500
              description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
              maximum: 500
              minimum: 0
              type: integer
            orderBy:
              description: |-
                Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

                You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

                Currently, only sorting by name or creationTimestamp desc is supported.
              type: string
            pageToken:
              description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute.readonly'
          (oas-tags):
            - regionOperations
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        '/{operation}':
          displayName: '{operation}'
          uriParameters:
            operation:
              description: Name of the Operations resource to return.
              required: true
              type: string
          delete:
            displayName: compute.regionOperations.delete
            description: Deletes the specified region-specific Operations resource.
            responses:
              '200':
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - regionOperations
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          get:
            displayName: compute.regionOperations.get
            description: Retrieves the specified region-specific Operations resource.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute.readonly'
            (oas-tags):
              - regionOperations
      /routers:
        displayName: routers
        get:
          displayName: compute.routers.list
          description: Retrieves a list of Router resources available to the specified project.
          responses:
            '200':
              body:
                application/json:
                  type: RouterList
              description: Successful response
          queryParameters:
            filter:
              description: |-
                Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

                The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

                For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

                You can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

                To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
              type: string
            maxResults:
              default: 500
              description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
              maximum: 500
              minimum: 0
              type: integer
            orderBy:
              description: |-
                Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

                You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

                Currently, only sorting by name or creationTimestamp desc is supported.
              type: string
            pageToken:
              description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute.readonly'
          (oas-tags):
            - routers
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        post:
          displayName: compute.routers.insert
          description: Creates a Router resource in the specified project and region using the data included in the request.
          body:
            application/json:
              type: Router
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Operation
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute'
          (oas-tags):
            - routers
        '/{resource}':
          displayName: '{resource}'
          /testIamPermissions:
            displayName: testIamPermissions
            post:
              displayName: compute.routers.testIamPermissions
              description: Returns permissions that a caller has on the specified resource.
              body:
                application/json:
                  type: TestPermissionsRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: TestPermissionsResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - routers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        '/{router}':
          displayName: '{router}'
          uriParameters:
            router:
              description: Name of the Router resource to update.
              required: true
              type: string
          delete:
            displayName: compute.routers.delete
            description: Deletes the specified Router resource.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - routers
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          get:
            displayName: compute.routers.get
            description: Returns the specified Router resource. Get a list of available routers by making a list() request.
            responses:
              '200':
                body:
                  application/json:
                    type: Router
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute.readonly'
            (oas-tags):
              - routers
          patch:
            displayName: compute.routers.patch
            description: Updates the specified Router resource with the data included in the request. This method supports patch semantics.
            body:
              application/json:
                type: Router
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - routers
          put:
            displayName: compute.routers.update
            description: Updates the specified Router resource with the data included in the request.
            body:
              application/json:
                type: Router
                (oas-body-name): body
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - routers
          /getRouterStatus:
            displayName: getRouterStatus
            get:
              displayName: compute.routers.getRouterStatus
              description: Retrieves runtime information of the specified router.
              responses:
                '200':
                  body:
                    application/json:
                      type: RouterStatusResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - routers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /preview:
            displayName: preview
            post:
              displayName: compute.routers.preview
              description: Preview fields auto-generated during router create and update operations. Calling this method does NOT create or update the router.
              body:
                application/json:
                  type: Router
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: RoutersPreviewResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - routers
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
      /subnetworks:
        displayName: subnetworks
        get:
          displayName: compute.subnetworks.list
          description: Retrieves a list of subnetworks available to the specified project.
          responses:
            '200':
              body:
                application/json:
                  type: SubnetworkList
              description: Successful response
          queryParameters:
            filter:
              description: |-
                Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

                The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

                For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

                You can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

                To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
              type: string
            maxResults:
              default: 500
              description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
              maximum: 500
              minimum: 0
              type: integer
            orderBy:
              description: |-
                Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

                You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

                Currently, only sorting by name or creationTimestamp desc is supported.
              type: string
            pageToken:
              description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute.readonly'
          (oas-tags):
            - subnetworks
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        post:
          displayName: compute.subnetworks.insert
          description: Creates a subnetwork in the specified project using the data included in the request.
          body:
            application/json:
              type: Subnetwork
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Operation
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute'
          (oas-tags):
            - subnetworks
        '/{resource}':
          displayName: '{resource}'
          /getIamPolicy:
            displayName: getIamPolicy
            get:
              displayName: compute.subnetworks.getIamPolicy
              description: Gets the access control policy for a resource. May be empty if no such policy or resource exists.
              responses:
                '200':
                  body:
                    application/json:
                      type: Policy
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - subnetworks
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /setIamPolicy:
            displayName: setIamPolicy
            post:
              displayName: compute.subnetworks.setIamPolicy
              description: Sets the access control policy on the specified resource. Replaces any existing policy.
              body:
                application/json:
                  type: Policy
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Policy
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - subnetworks
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /testIamPermissions:
            displayName: testIamPermissions
            post:
              displayName: compute.subnetworks.testIamPermissions
              description: Returns permissions that a caller has on the specified resource.
              body:
                application/json:
                  type: TestPermissionsRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: TestPermissionsResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - subnetworks
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        '/{subnetwork}':
          displayName: '{subnetwork}'
          uriParameters:
            subnetwork:
              description: Name of the Subnetwork resource to return.
              required: true
              type: string
          delete:
            displayName: compute.subnetworks.delete
            description: Deletes the specified subnetwork.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - subnetworks
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          get:
            displayName: compute.subnetworks.get
            description: Returns the specified subnetwork. Get a list of available subnetworks list() request.
            responses:
              '200':
                body:
                  application/json:
                    type: Subnetwork
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute.readonly'
            (oas-tags):
              - subnetworks
          /expandIpCidrRange:
            displayName: expandIpCidrRange
            post:
              displayName: compute.subnetworks.expandIpCidrRange
              description: Expands the IP CIDR range of the subnetwork to a specified value.
              body:
                application/json:
                  type: SubnetworksExpandIpCidrRangeRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - subnetworks
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /setPrivateIpGoogleAccess:
            displayName: setPrivateIpGoogleAccess
            post:
              displayName: compute.subnetworks.setPrivateIpGoogleAccess
              description: Set whether VMs in this subnet can access Google services without assigning external IP addresses through Cloudpath.
              body:
                application/json:
                  type: SubnetworksSetPrivateIpGoogleAccessRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - subnetworks
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
      /targetPools:
        displayName: targetPools
        get:
          displayName: compute.targetPools.list
          description: Retrieves a list of target pools available to the specified project and region.
          responses:
            '200':
              body:
                application/json:
                  type: TargetPoolList
              description: Successful response
          queryParameters:
            filter:
              description: |-
                Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

                The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

                For example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.

                You can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.

                To filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.
              type: string
            maxResults:
              default: 500
              description: 'The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
              maximum: 500
              minimum: 0
              type: integer
            orderBy:
              description: |-
                Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.

                You can also sort results in descending order based on the creation timestamp using orderBy="creationTimestamp desc". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.

                Currently, only sorting by name or creationTimestamp desc is supported.
              type: string
            pageToken:
              description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
              type: string
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute.readonly'
          (oas-tags):
            - targetPools
        is:
          - alt
          - fields
          - key
          - oauthToken
          - prettyPrint
          - quotaUser
          - userIp
        post:
          displayName: compute.targetPools.insert
          description: Creates a target pool in the specified project and region using the data included in the request.
          body:
            application/json:
              type: TargetPool
              (oas-body-name): body
          responses:
            '200':
              body:
                application/json:
                  type: Operation
              description: Successful response
          securedBy:
            - Oauth2:
                scopes:
                  - 'https://www.googleapis.com/auth/compute'
          (oas-tags):
            - targetPools
        '/{resource}':
          displayName: '{resource}'
          /testIamPermissions:
            displayName: testIamPermissions
            post:
              displayName: compute.targetPools.testIamPermissions
              description: Returns permissions that a caller has on the specified resource.
              body:
                application/json:
                  type: TestPermissionsRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: TestPermissionsResponse
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute.readonly'
              (oas-tags):
                - targetPools
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
        '/{targetPool}':
          displayName: '{targetPool}'
          uriParameters:
            targetPool:
              description: Name of the TargetPool resource to return.
              required: true
              type: string
          delete:
            displayName: compute.targetPools.delete
            description: Deletes the specified target pool.
            responses:
              '200':
                body:
                  application/json:
                    type: Operation
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute'
            (oas-tags):
              - targetPools
          is:
            - alt
            - fields
            - key
            - oauthToken
            - prettyPrint
            - quotaUser
            - userIp
          get:
            displayName: compute.targetPools.get
            description: Returns the specified target pool. Get a list of available target pools by making a list() request.
            responses:
              '200':
                body:
                  application/json:
                    type: TargetPool
                description: Successful response
            securedBy:
              - Oauth2:
                  scopes:
                    - 'https://www.googleapis.com/auth/compute.readonly'
            (oas-tags):
              - targetPools
          /addHealthCheck:
            displayName: addHealthCheck
            post:
              displayName: compute.targetPools.addHealthCheck
              description: Adds health check URLs to a target pool.
              body:
                application/json:
                  type: TargetPoolsAddHealthCheckRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - targetPools
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /addInstance:
            displayName: addInstance
            post:
              displayName: compute.targetPools.addInstance
              description: Adds an instance to a target pool.
              body:
                application/json:
                  type: TargetPoolsAddInstanceRequest
                  (oas-body-name): body
              responses:
                '200':
                  body:
                    application/json:
                      type: Operation
                  description: Successful response
              securedBy:
                - Oauth2:
                    scopes:
                      - 'https://www.googleapis.com/auth/compute'
              (oas-tags):
                - targetPools
            is:
              - alt
              - fields
              - key
              - oauthToken
              - prettyPrint
              - quotaUser
              - userIp
          /getHealth:
            displayName: getHealth
            post:
              displayName: compute.targetPools.getHealth
              description: Gets the most recent health check results for each IP for the instance that is referenced by the given target pool.
              body:
                application/json:
[...]
